* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#header {
    padding: 20px 20px 45px 20px;
    text-align: center;
}

.main-box div {
    border: 2px solid black;
    text-align: justify;
    height: auto;
    margin-top: 0px;
}

div button {
    background-color: tomato;
    border: 2px solid black;
    /*width: 150px;
    height: 35px;*/
    width: 46%;
    height: 35px;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    cursor: pointer;
}

.main-box {
    display: flex;
    flex: 1;
    margin-top: 0px;
}

.first-box {
    flex: 1;
    margin: 0px 10px 10px 10px;
    padding: 0px;
    background-color: #CDCDCD;
}

.second-box {
    flex: 1;
    margin: 0px 10px 10px 10px;
    padding: 0px;
    background-color: #CDCDCD;
}

.third-box {
    flex: 1;
    margin: 0px 10px 10px 10px;
    padding: 0px;
    background-color: #CDCDCD;
}

.text-element {
    margin: 0px 10px 10px 10px;
    padding: 50px 20px 20px 20px;
}

.chicken, .beef, .sushi {
    position: relative;
    border: 2px solid black;
}

.chicken {
    float: right;
    margin-top: -2px;
    margin-right: -2px;
}

.beef {
    float: right;
    margin-top: -2px;
    margin-right: -2px;
}

.sushi {
    float: right;
    margin-top: -2px;
    margin-right: -2px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .third-box {
        position: absolute;
        display: inline;
        top: 60%;
        margin-left: 10px;
    }
}

@media (max-width: 767px) {
    .main-box {
        display: inline;
    }
}